* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    background-color: #eeeeee;
    padding: 0px;

}
a {
    color: #888888;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #888888;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}
a:active {
    color: #000000;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    padding: 20px;
    font-size: 14px;
    background-color: #cccccc;
    border-style: solid;
    border-width: 2px;
    border-color: #aaaaaa;
    text-align: center;
}

.boxbad {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    background-color: #ffcccc;
    border-style: solid;
    border-width: 2px;
    border-color: #dd0000;
    text-align: center;
}

#citeus.boxbad {
    background-color: #eeeeee;
    border-color: #999999;
}
.maindiv {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #555555;
    text-align: center;

}

.subdiv {    
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    text-align: left;
}

.node {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

#loadseq textarea { 
    resize:none;
    width: 78%;
    height:150px;
    margin: 0px
}
#loadseqbutton { 
    width: 20%;
    height:150px;
    margin: 0px;
    float:right;
    position: relative;
}