<!DOCTYPE html>
<title>MISC Web Interface</title>
<center>
<h1>Welcome to the MISC web interface.</h1>
    <form enctype="multipart/form-data" method="post" action="msa_analysis/">
        Please input a single seed sequence below:<br>
        <textarea cols=80 rows=20 name="seed_text"></textarea><br>
        Alternatively, you may supply a multiple sequence alignment in FASTA format:<br>
        Select Alignment File: 
        <input type="file" name="msa_file">
        <input type="submit">
    </form>
<br>
If you like what you see, please cite our <a href="http://www.insaneclownposse.com/">Paper.</a>
